@media (max-width: 952px) {
    .checkbtn {
        display: block;

    }

    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #080a0b;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a {
        font-size: 20px;
    }

    a:hover,
    a.active {
        background: none;
        color: #0082e6;
    }

    #check:checked~ul {
        left: 0;
    }

    label.logo {
        font-size: 30px;
        padding-left: 50px;
    }

    nav ul li a {
        font-size: 16px;
    }

    .big-heading {
        padding-top: 100px;
        padding-left: 30px;
        /* display: inline-flex ; */
        text-transform: uppercase;
        background-image: linear-gradient(-225deg,
                #231557 0%,
                #44107a 29%,
                #ff1361 67%,
                #7d7b46 100%);
        background-size: auto auto;
        background-clip: border-box;
        background-size: 200% auto;
        color: #fff;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: textclip 2s linear infinite;
        /* display: inline-flex; */
        font-size: 35px;
        font-family: "dela gothic one";
    }

    .small-heading {
        font-family: 'Dancing Script', cursive;
        color: #aab2ba;
        padding-left: 40px;
        font-size: 40px;
        padding-top: 50px;
        justify-self: center;
      }
      .intro {
        color: #aab2ba;
        padding-left: 20px;
        font-family: "dela gothic one";
      }
      .main-content {
        height: 175vh;
        background-color: black;
        width: 404.8px;
      }
      .main2-content {
        height: 115vh;
        background-color: black;
        width: 404.8px;
      }
      .main3-content{
        background-color: black;
        width: 404.8px;
        padding-top: 0px;
        height:600vh
      }
      .image-right {
        padding-top: 10px;
        float: right;
      }    
      .about-content{
        width: 80%;
        height: 85vh;
        font-family: 'dela gothic one', cursive;
        font-size: 15px;
        padding: 0px;
        margin: 20px;
        padding: 20px;
        
       } 
       .about-image{
        height: 10px;
        width: 10px;
      }
      .container-skills {
        display: block;
        padding-top: 0px;
      }
      .image-skills{
        width: 5px;
        height: 5px;
        float: left;
        
      }
      .item {
        width: 400.8px;
        height: 250px;
        padding-top: 0px;
        margin-top:20px;
        background-color:#534d4db0;
        box-shadow: 0px;
      }
      .skill-text {
        text-transform: uppercase;
        background-image: linear-gradient(-225deg,
            #231557 0%,
            #E44D26 29%,
            #2062AF 67%,
            #F0C724 100%);
        background-size: auto auto;
        background-clip: border-box;
        background-size: 200% auto;
        color: #fff;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: textclip 4s linear infinite;
        font-family: dela gothic one;
        padding-left: 150px;
        padding-bottom: 50px;
        font-size:20px;
        padding-top: 50px;
      }
}